html, body, .bodyContainer {
  margin: 0;
  padding: 0;
}

html {
  font-family: arial, sans-serif;
}

body {
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  background: red;
}

.bodyContainer {
  width: 375px;
  height: 667px;
  align-content: center;
  background-color: blue;
}

.imageContainer {
  width: 100%;
  height: auto;
}

.image {
  position: fixed;
  top: 0;
  left: 0;

  background-image: url("./images/image-qr-code.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;


}
